@import "../node_modules/slick-carousel/slick/slick.css";
@import "../node_modules/slick-carousel/slick/slick-theme.css";


@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components{
    .container{
        @apply mx-auto px-3 w-full sm:max-w-[580px] md:max-w-[790px] lg:max-w-[1000px] xl:max-w-[1200px] 2xl:max-w-[1390px]
    }
}


